<footer>
  <span><b>{{ site.ownerFullName }}</b></span>
  {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
  <span>© {{ currentyear }}</span>
  <p>
    <h6>
        Based on 
        <a class="simple-link" href="https://github.com/tocttou/hacker-blog" target="_blank">"Hacker-Blog"</a> that is 
        <a class="simple-link" href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">public domain</a>
        <br/>Icons made by <a class="simple-link" href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha" target="_blank">Pixel Buddha</a> from 
        <a class="simple-link" href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
    </h6>
  </p>
</footer>