<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="header-link">Older posts</h2>
</a> | 
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="header-link">About</h2>
</a> | 
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="header-link">RSS</h2>
</a>
    <span>
        <p>
            <a class="social-network-link" href="https://linkedin.com/in/cristovaozr" target="_blank">
                <img class="social-network-img" src="{{ "../assets/linkedin.png" | | prepend: site.baseurl | replace: '//', '/' }}"> 
            </a>
            <a class="social-network-link" href="https://github.com/cristovaozr" target="_blank">
                <img class="social-network-img" src="{{ "../assets/github-logo.png" | | prepend: site.baseurl | replace: '//', '/' }}"> 
            </a>
        </p>
    </span>